
.warning{
  margin-top: 20px;
  text-align: center;
}
main{
  display:flex;
  flex-direction: column;
 
  text-align: center;
  

}
.links-image{
  background-color: rgb(224, 217, 217);
 margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  text-align: left;
  
}
.links-image a{
  color: rgb(4, 31, 88);
}
